*{
    padding: 0;
    margin: 0;
}
header{
    padding-top:22px;
    padding-bottom: 22px;
}
.head{
    max-width: 1280px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.container{
   max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}
header nav ul { display: flex;
    list-style: none;
}
header nav ul li{
    margin: 0 16px;
}
header nav ul li a{
    font-family:'Poppins',sans-serif;
font-style: normal;
font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
    text-decoration: none;
}
header nav ul li:last-of-type a{
    display: flex;
    font-family:'Poppins',sans-serif;
    background: #1B1A1A;
    border-radius: 14px;
    text-align: center;
    padding: 11px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;"
}
 .main_banner{
     background-color:#ECE7E4;
     height:100vh;position:
         relative;
     padding-top: 100px;
     padding-bottom: 100px;
     box-sizing: border-box;
 }
 .main_article{
     max-width: 600px


 }

 .b_g_image{
     background-image:url('img/IMAGE.jpg');background-size: cover; background-repeat:no-repeat;position: absolute;
     right: 0;
     top: 0;
     width: 50%;
     height: 100vh;
 }


 .main_article p {
     font-family:'Poppins',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 2px;
     color: #645C55;
     margin-bottom: 20px;
 }
 .main_article h1{
     font-family:'Poppins',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 64px;
     line-height: 70px;
     color: #1B1A1A;
     margin-bottom: 20px;

 }
 .main_article :last-of-type p{
     font-family:'Poppins',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 2px;
     color: #645C55;
     margin-bottom: 40px;
 }
 .main_article a{
     font-family:'Poppins',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.4px;
     color: #1B1A1A;
     text-decoration: none;
     margin-left: 40px;
 }


/*start of second section*/


.sec_part{
    background-color:#ECE7E4;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
  }
.sec_article{
    max-width: 768px;
    margin: auto;
}
.first_sec{
    display: flex
}
.first_sec h3{
    padding-right: 100px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    width: 130px
}
.second_par{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

.second_text{
    padding: 10px 0;
}

.about_author{
    display: flex;
    padding-left: 220px;
    padding-top: 18px;
}
.info_about{
    padding-left: 30px;
    padding-top: 18px;
}

.info_about h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}
.info_about p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

/*end of second section*/
/*start of third section*/
.R_H{
background-image: url("img/styleone.jpg");
    min-height: 600px;
   background-size: cover;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.sub_R_H{
max-width: 285px;
    margin-right: 75px;
}
.sub_R_H h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.sub_R_H p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #645C55;
}

/*end of second section*/
/* start of fourth section*/

.trd_sec{
    background-color:#ECE7E4;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.trd_article{
max-width: 1000px;
    margin: auto;
}
.trd_prt_sec{
    padding-left: 50px ;
}
.trd_prt_sec h5{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    padding-bottom: 10px;
}
.trd_prt_sec h2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
    padding-bottom: 47px;
}

.trd_sec_part{
    justify-content: space-between;
    padding-top: 47px;
    text-align: center;
    display:flex;
}
.trd_sec_part h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
    padding-top: 15px;
    padding-bottom: 10px;
}
.trd_sec_part p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}
.between{
    padding: 0 100px;
}
/*end of fourth section*/
/*start of fiveth section*/
.T_M_S{
    background-image: url("img/styletwo.jpg");
    background-size: cover;
    position: relative;
    justify-content: flex-end;
    min-height: 600px;
    display: flex;
    align-items: center;
}
.sub_T_M_S{
max-width: 285px;
    margin-right: 75px;
}

.sub_T_M_S h3{

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #403E3B;
}
.sub_T_M_S p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;

}
/*end of fiveth section*/

/*start of sixth section*/
.sec_six{
    background-color:#403E3B;
    padding: 60px 0;
    box-sizing: border-box;
}
.all{
    display: flex;
    max-width: 1168px;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}
.text_p{ max-width: 451px ;}
.text_p h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}
.text_p h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    padding-bottom: 16px;

}
.text_p p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}
.links_img {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;


}
.links_img_one{
    margin-top: 64px;
}
.links_img_one a img{
    width: 50%;
}
.links_img_one a img:first-of-type{
    margin-bottom: 128px;
}
.links_img_two{
margin-top: 40px;
}
.links_img_two a img{
    width: 50%;
}
.links_img_two a img:first-of-type{
    margin-bottom: 96px;
}
/*end of sixth section*/
/*start of seventh section*/
.T_S_S{
    background-image: url("img/laststyle.jpg");
    min-height: 600px;
    background-size: cover;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    display: flex;

}
.sub_T_S_S{
    max-width: 285px;
    margin-left: 60px;

}
.sub_T_S_S h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.sub_T_S_S p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

/*end of seventh section*/
/*start of eight section*/

.last_one{
    background-color: #CEC4BC;
    padding: 100px 0;
    box-sizing: border-box;
}
.last_one_text{
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first_text{
    max-width: 569px;
}
.last_one_text h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #645C55;

}
.last_one_text h3{

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}
.last_one_text p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;

}

/*end of eight section*/
/*start of footer*/
.footer_end{
    background-color:#F7F7F7 ;
    padding: 60px 0;
    box-sizing: border-box;
}
.footer_end_a{
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer_end_b{
    width: 362px;
}
.footer_end_b p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
    padding-top: 20px;

}
.links_to{
    display: flex;
  align-items: flex-end;

}
.links_to a{
    padding-left: 20px;
}
.links_to a:last-of-type{
    padding-left: 26px;
}
/*end of footer*/